{% extends 'template.html' %}

{% block content %}

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="/modules">Modules</a></li>
        <li><a href="/modules/{{ namespace.name }}">{{ namespace.name }}</a></li>
        <li><a href="/modules/{{ namespace.name }}/{{ module.name }}">{{ module.name }}</a></li>
        <li class="is-active"><a href="/modules/{{ namespace.name }}/{{ module.name }}/{{ module_provider.name }}">{{ module_provider.name }}</a></li>
    </ul>
</nav>

<div class="columns" style="background-color: #f9f9f9; padding-top: 30px; padding-bottom: 30px;">
    <div class="column is-two-fifths is-offset-one-fifth">
        <p class="title">
            {{ module.name }}
        </p>
        <p class="subtitle">
            Provider: {{ module_provider.name }}
        </p>
        <p class="subtitle">
            {{ module.description }}
        </p>
        <p>Published {{ module_version.publish_date_display }} by <a href="/modules/{{ namespace.name }}">{{ namespace.name }}</a></p>
        <p>Module managed by {{ module.owner }}</p>
        <p>Source Code: <a href="{{ module_version.source_code_url }}">{{ module_version.source_code_url }}</a></p>
    </div>

    <div class="column is-one-fifth">
        <div class="box">
            <table class="table">
                <thead>
                    <tr>
                        <th>Module Downloads</th>
                        <th>
                            <div class="select is-small">
                                <select>
                                    <option>All version</option>
                                </select>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Downloads this week</td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>Downloads this month</td>
                        <td>4000</td>
                    </tr>
                    <tr>
                        <td>Downloads this year</td>
                        <td>6000</td>
                    </tr>
                    <tr>
                        <td>Downloads over all time</td>
                        <td>10000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function selectModuleTab(event, tab_name) {
        tab_name = "module-tab-" + tab_name;
        var i, tabcontent, tablinks;

        // Hide content of all tabs
        tabcontent = document.getElementsByClassName("module-tabs");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Remove 'active' from all tab links
        tablinks = document.getElementsByClassName("module-tab-link");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" is-active", "");
        }
        // Show content of current tab and mark current link as active.
        document.getElementById(tab_name).style.display = "block";
        event.target.parentNode.className += " is-active";
    }
</script>
<div class="tabs">
    <ul>
        <li class="module-tab-link is-active"><a onclick="selectModuleTab(event, 'readme')">Readme</a></li>
        <li class="module-tab-link"><a onclick="selectModuleTab(event, 'inputs')">Inputs</a></li>
        <li class="module-tab-link"><a onclick="selectModuleTab(event, 'outputs')">Outputs</a></li>
        <li class="module-tab-link"><a onclick="selectModuleTab(event, 'dependencies')">Dependencies</a></li>
        <li class="module-tab-link"><a onclick="selectModuleTab(event, 'resources')">Resources</a></li>
    </ul>
</div>
<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">

        <div id="module-tab-readme" class="module-tabs">
            {{ module_version.get_readme_html()|safe }}
        </div>
        <div id="module-tab-inputs" class="module-tabs" style="display: none;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for input in module_version.get_terraform_inputs() %}
                    <tr>
                        <td>
                            {{ input['name'] }}
                        </td>
                        <td>
                            {{ input['description'] }}
                        </td>
                        <td>
                            {{ input['type'] }}
                        </td>
                        <td>
                            {{ input['default'] if not input['required'] else 'Required' }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="module-tab-outputs" class="module-tabs" style="display: none;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for output in module_version.get_terraform_outputs() %}
                    <tr>
                        <td>
                            {{ output['name'] }}
                        </td>
                        <td>
                            {{ output['description'] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="module-tab-depedencies" class="module-tabs" style="display: none;">
            DEPENDENCIES
        </div>
        <div id="module-tab-resources" class="module-tabs" style="display: none;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Provider</th>
                        <th>Source</th>
                        <th>Mode</th>
                        <th>Version</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resource in module_version.get_terraform_resources() %}
                    <tr>
                        <td>
                            {{ resource['type'] }}
                        </td>
                        <td>
                            {{ resource['name'] }}
                        </td>
                        <td>
                            {{ resource['provider'] }}
                        </td>
                        <td>
                            {{ resource['source'] }}
                        </td>
                        <td>
                            {{ resource['mode'] }}
                        </td>
                        <td>
                            {{ resource['version'] }}
                        </td>
                        <td>
                            {{ resource['description'] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
